body {
	background-color: none;
	margin: 10px;
	font-family: verdana, Georga, serif;
	font-size: 12px;
	border-radius: 5px;
}
 #header {
	background-color: blue;
	margin: 10px;
	height: 90px;
}
 #navbar ul {
	background-color: blue;
	text-align: center;
	list-style-type: none;
	margin: 10px;
	padding:5px;
	border-radius: 5px;
}
#navbar ul li {
	display:inline;
}
  #navbar ul li a {
	font-family: aerial;
	text-decoration: none;
	background-color: blue;
	color: white;
	padding: .4em 2em;
}
#navbar ul li a:hover {
	background-color:white;
	color:blue;
}







.container{
text-align: center;
}

img{
margin-top: 25px;
}

input{
width:  500px;
height: 35px;
margin: 4px;
border: 1px solid grey;
border-radius: 5px;
}  
.btn1{
height: 40px;
width: auto;
color:
}

#footer {
	background-color: blue;
	margin: 10px;
	height: 70px;
	clear: both;
	border-radius: 5px;
	text-align: center;
	padding:15px;
	color: white;
}
 #footer ul {
	text-align: center;
	list-style-type: none;
	margin: 10px;
	padding:5px;
	border-radius: 5px;
}
#footer ul li {
	display:inline;
}
  #footer ul li a {
	font-family: aerial;
	text-decoration: none;
	color: white;
	padding: .4em 2em;
}
#footer ul li a:hover {
	background-color:white;
	color:gray;
}
